* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li, img {
	margin: 0;
	padding: 0;
}

img {
  vertical-align: bottom;
}

.main-wrapper {
	display: flex;
}

.main-wrapper__left-column {
  width: 35%;
  height: 100%;
}

.main-info {
  position: fixed;
  top: 0;
  left: 0;
  
  width: 35%;
  height: 100%;
  padding: 28px 50px;
  
  background: url("../img/mbg1.jpg");
  background-position: center;
  background-size: cover;
  
  text-align: right;
}

.main-info__title {
  color: #424242;
}

.hi {
  color: #ffffff;
}

.skill {
  font-size: 24px;
  color: #70da44; /* yellow #ffc815 */
}

.main-info__socials {
  position: absolute;
  right: 50px;
  bottom: 40px;
}

.main-info__social-icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  
  font-size: 0;
  transition: 0.3s;
  opacity: 0.8;
}

.main-info__social-icon:hover {
  transform: rotate(360deg);
  opacity: 1;
}

.main-info__social-icon_fb {
  background: url("../img/1a.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

.main-info__social-icon_in {
  background: url("../img/2a.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

.main-info__social-icon_im {
  background: url("../img/3a.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

.main-info__social-icon_gh {
  background: url("../img/4a.png") no-repeat;
  background-size: 100%;
  background-position: center;
}

.main-info__social-icon_uw {
  background: url("../img/6a.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
}

.main-wrapper__right-column {
  width: 65%;
  
  color: #424242;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.resume {
  padding: 30px 0;
  
  border-bottom: 2px solid #f2f2f2;
}

.resume__title {
  margin-bottom: 25px;
}

.resume__acquaintance {
  margin-bottom: 25px;
}

.main-button {
  display: inline-block;
  padding: 10px 20px;
  
  border: 2px solid #70da44;
  
  font-weight: 400;
  color: #70da44;
  text-decoration: none;
  text-transform: lowercase;
	
	transition: 0.3s;
}

.main-button:hover {
  background: #84db64;
	color: #ffffff;
}

.portfolio {
  padding: 30px 0;
  padding-bottom: 0;
  
  border-bottom: 2px solid #f2f2f2;
}

.section-title {
  margin-bottom: 25px;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
	
	margin: 0 -25px;
}

.portfolio__item {
  position: relative;
  
	width: calc(100% / 3 - 50px);
	margin: 0 25px;
  margin-bottom: 30px;
  
  background: #f9f9f9;
  border: 2px solid #f2f2f2;
}

.portfolio__item__img img {
	width: 100%;
	height: auto;
}

.portfolio__item__about__content {
  padding: 10px;
}

.link-block {
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;
  width: 100%;
  height: 100%;
  
  background: #ffffff;
  
  opacity: 0.3;
}

.link-icon {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 10;
  
  display: none;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  
  opacity: 0.9;
}

.portfolio__item:hover .link-icon {
  display: block;
}

.contact {
  padding: 30px 0;
}

.contact-items {
	list-style-type: none;
}

.contact-item {
	color: #70da44;
}

@media screen and (max-width: 1366px) {
  .portfolio__item {
    width: calc(100% / 2 - 50px);
  }
}  

@media screen and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
  }
  
  .main-wrapper__left-column {
    width: 100%;
  }
  
  .main-info {
    position: static;
    
    width: 100%;
    height: 100vh;
  }

  .main-wrapper__right-column {
    width: 100%;
  }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
  .main-info__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 440px) {
  .portfolio__item {
    width: calc(100% / 1 - 50px);
  }
}

@media screen and (max-width: 375px) {
  .main-info__title {
    font-size: 24px;
  }
}
	