* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

@font-face {
	font-family: "Lato-Regular";
	src: url("../fonts/Lato-Regular.ttf") format("truetype");
	src: local("Lato-Regular"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Lato-Light";
	src: url("../fonts/Lato-Light.ttf") format("truetype");
	src: local("Lato-Light"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Lato-Bold";
	src: url("../fonts/Lato-Bold.ttf") format("truetype");
	src: local("Lato-Bold"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Lato-Black";
	src: url("../fonts/Lato-Black.ttf") format("truetype");
	src: local("Lato-Black"), url("../fonts/Lato-Black.ttf") format("truetype"), url("../fonts/Lato-Black.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6, p, ul, li, img {
	margin: 0;
	padding: 0;
}

img {
  vertical-align: bottom;
}

body {
	background: linear-gradient(to bottom, #cbcbcb, #f3f3f3);
}

/* header */

.page-header {
	background-color: #cbcbcb;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

	width: 100%;
	max-width: 1172px;

	margin: 0 auto;
	padding: 10px 20px 15px;
}

.page-header__info {
  display: flex;
}

.page-header__contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.page-header__call-button {
  margin-right: 20px;
	padding: 5px 30px;

	background-color: #94180c;
	border: none;
	border-radius: 25px;
	outline: none;
	cursor: pointer;

	font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
	color: #ffffff;
}

.page-header__call-button:hover {
	background-color: #C42928;

	color:  #ff0202;
}

.page-header__contact-phones {
  list-style-type: none;
}

.page-header__contact-phone {
	list-style-type: none;

  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
	font-weight: 600;
  color: #3b3c3d;
}

.page-header__contact-phone--color {
  color: #93170a;
}

/* navigation */

.main-nav {
  background-color: #93170a;
}

.main-nav__wrapper {
  display: flex;
  align-items: center;

	width: 100%;
	max-width: 1172px;

	margin: 0 auto;
	padding: 0 20px;
}

.main-nav__menu-list {
  list-style-type: none;

  display: flex;

	margin-left: -11px;
}

.main-nav__menu-item {
	position: relative;
	padding: 20px 11px;
}

.main-nav__menu-item:last-child {
	margin-right: 0;
}

.main-nav__menu-link {
	font-family: "Lato-Bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav__menu-link:hover,
.main-nav__menu-link--active {
	color: #ff0202;
}

.main-nav__search {
  margin-left: auto;

	border: 1px solid #636363;
	border-radius: 50px;
	outline: none;
}

.main-nav__search-field {
	padding: 10px 18px;

  border: 1px solid #636363;
	border-radius: 3px;
	outline: none;

	font-family: "Lato-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #636363;
}

.main-nav__search-field:focus::placeholder {
  color: transparent;
}

/* drop-menu */

.drop-menu {
	position: absolute;
	top: 60px;
	z-index: 10;
	list-style-type: none;

	display: none;
	min-width: 180px;
}

.drop-menu__link {
	display: block;
	padding: 12px;

	background: #db001b;
	border-bottom: 2px solid #93170a;

  font-family: "PT Sans Caption", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #f2f2f2;
	text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.drop-menu__link {
	border-radius: 0 0 5px 5px;
}

.drop-menu__link:hover {
	background: #c2031b;
}

.drop-menu__item {
	position: relative;
	margin-bottom: 0;

	text-align: center;
}

.drop-menu__link {
	color: #ffffff;
	text-decoration: none;
}

/* promo-block */

.slide-1 {
	background: #eadecc url("../img/promo-bg.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.promo-block__slide-inner {
  display: flex;

	max-width: 1172px;
	height: 450px;

	margin: auto;
  padding: 0 20px;
}

.promo-block__info {
	margin-top: 145px;
}

.promo-block__logo {
	margin-bottom: 45px;
}

.promo-block__title {
  font-family: "Arial", sans-serif;
  font-size: 46px;
  line-height: 50px;
	font-weight: 600px;
  color: #3f4245 !important;
}

.promo-block__item {
	margin-top: 75px;
	margin-left: 250px;
}

.slide-2 {
	background: #eadecc url("../img/promo-bg3.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.slide-2--title {
	width: 700px;
}

.slide-2--logo {
	margin-bottom: 10px;
}

.slide-2--item {
	margin-left: 80px;
}

.slide-3 {
	background: #eadecc url("../img/promo-bg2.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.slide-4 {
	background: #eadecc url("../img/promo-bg4.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

/* features */

.features {
  position: relative;
  z-index: 1;
  margin-top: -80px;
}

.features__wrapper {
  width: 100%;
	max-width: 1172px;

	margin: 0 auto;
	padding: 0 20px;
}

.features__list {
  display: flex;
  justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.features__item {
  width: 364px;
	height: 162px;
	padding: 20px 15px;

	font-family: "Lato-Bold", "Arial", sans-serif;
  font-size: 36px;
  line-height: 30px;
  color: #ffffff;
}

.features__item--production {
  background: #5e5e5f url("../img/production.jpg") no-repeat;
}

.features__item--mounting {
  background: #5e5e5f url("../img/mounting.jpg") no-repeat;
}

.features__item--sales {
  background: #5e5e5f url("../img/sales.jpg") no-repeat;
}

/* invitation*/

.invitation__wrapper {
  display: flex;

  width: 100%;
	max-width: 1172px;

	margin: 0 auto;
	padding: 40px 20px;
}

.invitation__authorization {
  width: 230px;
}

.section-title {
	padding-left: 20px;

	background: url("../img/section-title-ico.png") no-repeat;
	background-position: left 5px;

  font-family: "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
	font-weight: 600;
  color: #93170a;
	text-transform: uppercase;
}

.invitation__autorization-form {
  padding: 15px 20px;
}

.field-label {
  font-family: "Lato-Light", "Arial", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #38393b;
}

.form-field {
	width: 190px;
	height: 32px;
	padding: 5px;

	background-color: #dedede;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
  margin-bottom: 12px;
	outline: none;
	box-shadow: 1px 1px 0 0 #747474, inset 1px 1px 0 0 #c5c5c5;
}

.form-checkbox {
	width: 13px;
  height: 14px;

	background-color: #dedede;
	border: 1px solid #cfcfcf;
	border-radius: 3px;
  margin-bottom: 18px;
	outline: none;

	cursor: pointer;
}

.checkbox-label {
  font-family: "Lato-Light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #38393b;
}

.form-button {
	padding: 0 25px;

	background-color: #dedede;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
  margin-bottom: 12px;
	outline: none;
	box-shadow: 1px 1px 0 0 #747474, inset 1px 1px 0 0 #c5c5c5;

	font-family: "Lato-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #323335;

  cursor: pointer;
}

.form-button:hover {
	background-color: #961a0d;

	color :#ffffff;
}

.recovery {
  display: block;

	font-family: "Lato-light", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #eb0101;
	text-decoration: none;

	cursor: pointer;
}

.invitation__content {
  padding: 0 0 0 30px;
	width: 78%;
}

.paragraph {
	margin-bottom: 40px;

	font-family: "Lato-light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #323335;
}

.paragraph:last-child {
	margin-bottom: 0;
}

.paragraph--entry {
	font-family: "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
	font-weight: 600;
  color: #323335;
}

/* partners */

.partners__wrapper {
  width: 100%;
	max-width: 1172px;

	margin: 0 auto;
	padding: 0 20px 120px;
}

.partners__list {
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
	align-items: center;

	margin-left: -20px;
	margin-right: -20px;

	padding-top: 35px;
}

.partners__item {
  width: 186px;
	margin: 0 20px;
	margin-bottom: 40px;

	text-align: center;
}

/* footer */

.footer {
  background-color: #3d3e3e;
}

.footer__wrapper {
	display: flex;

  width: 100%;
	max-width: 1172px;

	margin: 0 auto;
	padding: 20px;
}

.footer__address-list,
.footer__service-list {
  list-style-type: none;
}

.footer__address-list {
	width: 400px;
	margin-left: 20px;
  margin-right: auto;

	font-family: "Lato-light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.footer__service-list {
  margin-right: 115px;
}

.footer__service-list:last-child {
  margin-right: 80px;
}

.footer__service-link {
	font-family: "Lato-light", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

@media screen and (max-width: 1140px) {
	.features__item {
		width: 32%;

		background-size: cover;
		background-position: center;
	}
}

@media screen and (max-width: 1030px) {
	.main-nav__wrapper {
    justify-content: center;
  }

	.main-nav__search {
    display: none;
  }

	.footer__service-list {
	  margin-right: 30px;
	}

	.footer__service-list:last-child {
	  margin-right: 0;
	}

	.footer__address-list {
		margin-left: 0;
		margin-right: 30px;
	}
}

@media screen and (max-width: 1000px) {
	.promo-block__slide-inner {
		height: 350px;
	}

	.promo-block__item {
		display: none;
	}

	.promo-block__info,
	.promo-block__logo {
		margin: 0;
		margin: 0 auto;
	}

	.promo-block__logo img {
		margin: 50px auto;
	}

	.slide-2--title {
		width: 100%;
		text-align: center;
	}

	.slide-2--logo {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 870px) {
	.features {
		margin-top: 50px;
	}

	.features__list {
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.features__item {
		width: 80%;
		margin-bottom: 20px;

		background-size: cover;
		background-position: center;
	}

	.promo-block__slide-inner {
		flex-direction: column;

		padding: 0 20px 40px;
	}

	.promo-block__logo {
		text-align: center;
	}

	.promo-block__title {
		margin-bottom: 40px;

		text-align: center;

		font-size: 28px;
	}

	.promo-block__pic {
		margin-bottom: 40px;
	}

	.promo-block__toggles {
		text-align: center;
	}
}

@media screen and (max-width: 840px) {
	.main-nav__wrapper {
	  width: 100%;

		padding: 0;
		margin: 0;
	}

	.page-header__contact-phones {
    display: none;
  }

  .main-nav__menu-list {
    flex-direction: column;

		width: 100%;
		margin-left: 0;
  }

  .main-nav__menu-item {
		padding: 0;

    border-bottom: 1px solid #3d3e3e;
		box-shadow: 0 1px 0 0 #727272;

		text-align: center;
  }

	.main-nav__menu-item:last-child {
    border-bottom: none;
		box-shadow: none;
  }

	.main-nav__menu-link {
		display: block;
		width: 100%;
		padding: 20px;
	}

	.drop-menu {
    display: none !important;
  }
}

@media screen and (max-width: 690px) {
	.page-header__logo-img {
		max-width: 100%;
		height: auto;
	}

  .page-header__contact {
    display: none;
  }

  .page-header__logo {
    margin: 0 auto;
  }

	.promo-block__info {
	  width: 100%;
	}

	.promo-block__item {
	  width: 100%;
		text-align: center;
	}

	.promo-block__pic {
		max-width: 100%;
		height: auto;
	}

	.invitation__wrapper {
		padding: 20px 20px 40px;
	}

	.invitation__authorization {
		display: none;
	}

	.invitation__content {
	  padding: 0;
		width: 100%;
	}

	.features__item {
	  width: 100%;
		background-size: cover;
		background-position: center;
	}

	.partners__wrapper {
		padding-bottom: 50px;
	}

	.partners__list {
		justify-content: center;
	}

	.partners__item {
		margin: 20px;
	}

	.footer__wrapper {
		flex-direction: column;
	}

	.footer__address-list {
		order: 1;

		margin-top: 50px;

		font-size:
	}
}

@media screen and (max-width: 430px) {
	.footer__address-list {
		width: 100%;
	}
}
