* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	outline: none;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li, img, span {
	margin: 0;
	padding: 0;
}

.main-header__site-title {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 29px;
  font-weight: 900;
	color: #333333;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
	color: #333333 !important;
}

img {
  vertical-align: bottom;
}

.container {
	width: 100%;
	max-width: 1695px;

	margin: 0 auto;
	padding: 0 15px;
}

.main-header {
	padding: 20px 0;
	
	border-bottom: 1px solid #e0e0e0;
	
	text-align: center;
}

.main-header__site-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
	color: #333333;
  text-transform: uppercase;
}

.main-header__site-subtitle {
	font-size: 24px;
  line-height: 28px;
	color: #ea603b;
}

.main-menu {
	padding: 25px 0;
	
	border-bottom: 1px solid #e0e0e0;
}

.main-menu__burger-menu {
  float: left;
  
  width: 50%;
}

.burger {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 18px;
  padding-left: 20px;
  
  background: url("../img/menu-lines.svg") no-repeat;
  background-position: 0px 5px;
  background-size: 14px 12px;
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
	color: #333333;
  text-transform: uppercase;
  
  cursor: pointer;
  
  opacity: 0.8;
}

.burger:hover {
  background: url("../img/menu-lines-active2.svg") no-repeat;
  background-position: 0px 5px;
  background-size: 14px 12px;
  
  color: #ea603b;
}

.cross {
  background: url("../img/telephone.svg") no-repeat;
  background-position: center;
  background-size: 100%;
}

.main-menu__call {
  float: right;
  
  width: 50%;
  
  text-align: right;
}

.main-menu__call__link {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  
  font-size: 0px;
  
  opacity: 0.8;
}

.main-menu__call__link_call-icon {
  background: url("../img/telephone.svg") no-repeat;
  background-position: center;
  background-size: 100%;
}

.main-menu__call__link_map-icon {
  margin-left: 10px;
  
  background: url("../img/map.svg") no-repeat;
  background-position: center;
  background-size: 100%;
}

.main-menu__nav__items {
  display: block;
	
	width: 100%;
  
  list-style-type: none;
}

.main-menu__nav__item {
  border-bottom: 1px solid #e0e0e0;
}

.main-menu__nav__item__social {
  border-bottom: 0px solid #e0e0e0;
}

.main-menu__nav__link,
.main-menu__nav__social {
  display: block;
  padding: 15px 0;
  
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-weight: 500;
	color: #333333;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu__nav__link:hover {
  color: #ea603b;
}

.main-menu__nav__social {
  padding-left: 35px;
}

.social-icon_vk {
  background: url("../img/vk.svg") no-repeat;
  background-position: 0px 12px;
  background-size: 20px 20px;
}

.social-icon_im {
  background: url("../img/instagram.svg") no-repeat;
  background-position: 0px 12px;
  background-size: 20px 20px;
}

.social-icon_fb {
  background: url("../img/fb.svg") no-repeat;
  background-position: 0px 12px;
  background-size: 20px 20px;
}

.main-menu__nav__item__social:hover .social-icon_vk {
  background: url("../img/vk-active.svg") no-repeat;
  background-position: 0px 12px;
  background-size: 20px 20px;
}

.main-menu__nav__item__social:hover .social-icon_im {
  background: url("../img/instagram-active.svg") no-repeat;
  background-position: 0px 12px;
  background-size: 20px 20px;
}

.main-menu__nav__item__social:hover .social-icon_fb {
  background: url("../img/fb-active.svg") no-repeat;
  background-position: 0px 12px;
  background-size: 20px 20px;
}

.main-menu__nav__item__social_top {
  margin-top: 15px;
}

.main-menu__nav__item__social_bottom {
  margin-bottom: 15px;
}

.main-slider {
  margin-bottom: 25px;
}

.main-slider__items {
	width: 100%;
	height: 100vh;
}

.main-slider__item {
  position: relative;
}

.main-slider__item__img {
	height: 100vh;
}

.main-slider__item__img_slide-1 {
	background: url("../img/slide1.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.main-slider__item__img_slide-2 {
	background: url("../img/slide2.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.main-slider__item__img_slide-3 {
	background: url("../img/slide3.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}

.main-slider__item__item-content {
  position: absolute;
  left: 0;
  bottom: 0;
  
  width: 100%;
  padding: 15px;
  
  text-align: left;
}

.main-slider__item__item-content__resort {
  display: inline-block;
  margin-bottom: 20px;
  padding: 5px 10px;
  
  background: #000000;
  
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
	color: #ffffff;
}

.main-slider__item__item-content__hotel {
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  line-height: 39px;
  font-weight: 700;
	color: #ffffff;
}

.main-slider__item__item-content__description {
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
	color: #ffffff;
}

.main-slider__item__item-content__price {
  margin-bottom: 20px;
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
	color: #ffffff;
}

.main-slider__item__item-content__rooms {
  margin-bottom: 60px;
}
  
.section-title {
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  line-height: 48px;
  font-weight: 700;
	color: #333333;
  text-align: center;
}

.resort-about {
  margin-bottom: 25px;
}

.resort-about__resort-description {
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
	color: #333333;
}

.resort-about-slider__item {
  position: relative;
}

.resort-about-slider__img {
	display: block;
	
  width: 100%;
  height: auto;
}

.resort-about-slider__item__item-content {
  position: absolute;
  left: 0;
  top: 0;
  
  width: 100%;
  padding: 10px;
  
	font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
	color: #ffffff;
  text-align: center;
}

.cottage-about {
  margin-bottom: 25px;
}

.cottage-about__cottage-description {
  margin-top: 25px;
	margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
	color: #333333;
}

.cottage-about-slider__item {
  position: relative;
}

.cottage-about-slider__img {
	display: block;
	
  width: 100%;
  height: auto;
}

.cottage-about-slider__item__item-content {
  position: absolute;
  left: 0;
  top: 0;
  
  width: 100%;
  padding: 10px;
  
	font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
	color: #ffffff;
  text-align: center;
}

.rooms-about__item {
  margin-bottom: 50px;
}

.rooms-about__item__title {
  margin-top: 25px;
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  line-height: 31px;
  font-weight: 700;
	color: #333333;
}

.rooms-about__item__facilities {
  list-style-type: none;
}

.rooms-about__item__details {
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
	color: #333333;
}

.rooms-about__item__price {
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
	color: #333333;
}

.rooms-about-slider__item {
  position: relative;
}

.rooms-about-slider__img {
	display: block;
	
  width: 100%;
  height: auto;
}

.rooms-about-slider__item__item-content {
  position: absolute;
  left: 0;
  top: 0;
  
  width: 100%;
  padding: 10px;
  
	font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
	color: #ffffff;
  text-align: center;
}

.main-button {
	display: inline-block;
	padding: 18px 20px;
}

.main-button_green {
	margin-right: 20px;
	
	background: #ea603b;
	
  font-size: 14px;
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
	
.main-button_white {
	position: relative;
	
	padding: 0;
	
	background: #ffffff;
	
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
	color: #333333;
	text-decoration: none;
}

.main-button_white:hover {
	color: #ea603b;
}

.main-button_white::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	
	display: block;
	width: 100%;
	height: 1px;
	
	border-bottom: 1px dashed #000000;
}

.main-contact {
  padding-top: 25px;
  
  background: #F5F3F1;
}

.main-contact__items {
  list-style-type: none;
  
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
	color: #333333;
}
	
.social-icon {
	display: inline-block;
	
	width: 35px;
	height: 35px;
	
	font-size: 0;
}

.main-address__items {
  list-style-type: none;
  
  margin-bottom: 25px;
  
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
	color: #333333;
}

.google-map {
	width: 100%;
}

.copyright {
	padding: 10px 0;
	
	font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
	color: #333333;
	text-align: center;
}

.copyright__link {
	font-size: 12px;
  line-height: 16px;
  font-weight: 700;
	color: #ea603b;
	text-decoration: none;
	text-transform: uppercase;
}

/*

@media screen and (max-device-width: 812px) and (orientation: landscape) {
	.main-slider {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 999;
		
		width: 100%;
		height: 100%;
	}
}

*/