* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, h6, p, ul, li, img {
	margin: 0;
	padding: 0;
}

img {
  vertical-align: bottom;
}

.container {
	width: 100%;
	max-width: 1140px;

	margin: 0 auto;
	padding: 0 15px;
}

/* slider */

.main-slider {
	width: 100%;
	height: 100%;
	
	background: #2b2b2b;
}

.main-slider__inner {
	position: relative;
	
	outline: none;
}

.main-slider__title {
	margin-bottom: 75px;
  padding: 0 15px;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 48px;
  line-height: 80px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}

.main-slider__img {
	width: 100%;
	height: 100vh;
}

.main-slider__img_slide-1 {
	background: url("../img/headerbg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.main-slider__img_slide-2 {
	background: url("../img/headerbg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.main-slider__img_slide-3 {
	background: url("../img/headerbg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.main-slider__img_slide-4 {
	background: url("../img/headerbg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.main-slider__img_slide-5 {
	background: url("../img/headerbg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.main-slider__img_slide-6 {
	background: url("../img/headerbg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.main-slider__content {
	position: absolute;
	top: 50%;
	left: 50%;
	
  width: 420px;
	height: 230px;
	margin-left: -210px;
	margin-top: -165px;
	
	text-align: center;
}

.content-button {
  display: inline-block;
	
	padding: 2px 20px;
	
	border: 2px solid #000000;
	
  
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
	text-decoration: none;
	text-transform: lowercase;
	
	outline: none;
  
  transition: 0.5s;
}

.content-button:hover {
	border: 2px solid #db001b;
}

.content-button_white {
	color: #ffffff;
  border: 2px solid #ffffff;
}

@media screen and (max-width: 450px) {
	.main-slider__title {
		font-size: 36px;
		line-height: 64px;
	}
}

/* header */

.main-header {
	position: fixed;
  top: 0;
	left: 0;
  z-index: 999;
  
  width: 100%;
	
  background: #ffffff;
  border-bottom: 1px solid #2b2b2b;
}

.main-header__nav {
	display: flex;
	justify-content: space-between;
	
	padding: 15px 0;
}

.main-header__menu__items {
  list-style-type: none;
	margin-right: -6px;
}

.main-header__menu__item {
	position: relative;
	
  display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

.main-header__menu__item__link {
	display: inline-block;
	padding: 8px;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #2f2f30;
  text-decoration: none;
  text-transform: uppercase;
}

.main-header__menu__item__link_active,
.main-header__menu__item__link:active,
.main-header__menu__item__link:hover {
	color: #db001b;
}

.drop-menu-marker {
	background: url("../img/dmm.png") no-repeat;
	background-position: 49% 87%;
}

/* drop menu */

.drop-menu {
	position: absolute;
	left: 0;
	top: 39px;
	z-index: 10;
	list-style-type: none;
	
	display: none;
	margin-left: 7px;
	
	transition: 0.3s;
}

.drop-menu__link {
	display: block;
	padding: 8px;
	
	background: #db001b;
	border-bottom: 2px solid #2b2b2b;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #f2f2f2;
	text-align: left;
  text-decoration: none;
  text-transform: uppercase;
	
	transition: 0.3s;
}

.drop-menu__link:hover {
	background: #c2031b;
}

/* burger */

.burger {
	position: absolute;
	right: 15px;
	
	display: none;
}

.burger-icon {
  margin-top: 2px;
  
  cursor: pointer;
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  
  display: none;
  width: 100%;
  height: 100%;
	padding-top: 10px;
  
  text-align: center;
  
  background: #2b2b2b;
}

.mobile-menu__item__link {
  display: block;
  padding: 10px;
  
  border-bottom: 2px solid #232323;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 400;
  color: #eeeeee;
  text-decoration: none;
  text-transform: uppercase;
  
  transition: 0.2s;
}

.mobile-menu__item__link:hover {
  background: #333333;
  
  color: #db001b;
}

@media screen and (max-width: 970px) {
	.main-header__nav {
		flex-direction: column;
		
		text-align: center;
	}
	
	.main-header__logo {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	.main-header__menu__items {
		margin: 0;
	}
}

@media screen and (max-width: 768px) {
	.main-header__nav {
		flex-direction: row;
	}
	
	.main-header__logo {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.main-header__menu {
		display: none;
		
		text-align: right;
	}
	
	.burger {
		display: block;
	}
}
	
/* address bar */

.address-bar {
  padding: 15px 0;
  
	background: #2b2b2b;
}

.address-bar__items {
  list-style-type: none;
	
	text-align: right;
}

.address-bar__item {
  display: inline-block;
	
	margin-left: 40px;
	padding-left: 30px;
  
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
}

.address-bar__item_geo {
	background: url("../img/marker.png") no-repeat;
	background-position: 0 7px;
}

.address-bar__item_phone {
	background: url("../img/marker.png") no-repeat;
	background-position: 0 -32px;
}

@media screen and (max-width: 970px) {
	.address-bar__items {
		text-align: center;
	}
	
	.address-bar__item:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 540px) {
	.address-bar {
		display: none;
	}
}

/* fixed contacts */

.fixed-contacts-item {
  position: fixed;
  z-index: 10;
  
  display: block;
  width: 55px;
  height: 45px;
  
  background: #2b2b2b url("../img/fixed_contacts.png") no-repeat;
  
  font-size: 0;
  
  cursor: pointer;
}

.fixed-contacts-item:hover {
  opacity: 0.8;
}

.fixed-contacts-item_email {
  top: 165px;
  right: 0;
  
  background-position: 0 0;
}

.fixed-contacts-item_skype {
  top: 220px;
  right: 0;
  
  background-position: 0px -57px;
}

@media screen and (max-width: 970px) {
	.fixed-contacts-item_email {
		top: 235px;
		right: 0;
		
		background-position: 0 0;
	}

	.fixed-contacts-item_skype {
		top: 290px;
		right: 0;
		
		background-position: 0px -57px;
	}
}

@media screen and (max-width: 768px) {
	.fixed-contacts-item {
		display: none;
	}
}

/* services */

.main-services {
	padding-top: 65px;
}

.section-title-wrapper {
	position: relative;
	
	max-width: 615px;
	margin: 0 auto;
  margin-bottom: 65px;
	
	text-align: center;
}

.section-title-wrapper::after {
	content: "";
	position: absolute;
	bottom: 50%;
	
	display: block;
	
	width: 100%;
	height: 1px;
	margin-bottom: -0.5px;
	
	background: #cccccc;
	
	text-align: center;
}

.section-title {
	position: relative;
	display: inline-block;
	z-index: 10;
	
	padding: 0 60px;
	
	background: #ffffff;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 30px;
  line-height: 110px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-services-inner {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
	margin-bottom: 65px;
}

.main-services__item {
	text-align: center;
}

.main-services__item__img {
	margin-bottom: 40px;
}

.main-services__item__title {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #2d2d2d;
  text-transform: uppercase;
}

.content-button-wrapper {
	text-align: center;
}

.content-button_black {
	color: #000000;
  border: 2px solid #000000;
}

@media screen and (max-width: 786px) {
	.main-services__item {
		width: calc(100% / 2);
		margin-bottom: 50px;
	}
	
	.main-services__item:nth-child(3),
	.main-services__item:nth-child(4) {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 450px) {
	.section-title-wrapper::after {
		display: none;
	}
	
	.section-title {
		line-height: 42px;
	}
	
	.main-services__item {
		width: 100%;
		margin-bottom: 60px;
	}
	
	.main-services__item:nth-child(3),
	.main-services__item:nth-child(4) {
		margin-bottom: 60px;
	}
	
	.main-services__item:last-child {
		margin-bottom: 0;
	}
}

/* projects */

.main-projects {
	padding-top: 70px;
}

.main-projects-wrapper {
	background: #2b2b2b;
}

.main-projects__left-side {
  float: left;
  
  width: 50%;
}

.main-projects__right-side {
  float: right;
  
  width: 50%;
}

.main-projects__items {
	float: left;
	
	width: calc(100% / 2);
}

.main-projects__item {
  position: relative;
}

.main-projects__item__img {
	width: 100%;
	height: auto;
	
	cursor: pointer;
	outline: 0;
}

.main-projects__item__effect {
  position: absolute;
  top: 0;
  left: 0;
  
  display: none;
  width: 100%;
  height: 100%;
  
  background: #000000;
  opacity: 0.6;
}

.main-projects__item__about {
  position: absolute;
  bottom: 20px;
  left: 0;
  
  display: none;
  width: 100%;
  height: auto;
}

.main-projects__item__name {
  margin-bottom: 20px;
  
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.main-projects__item__desc {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ababab;
  text-align: center;
  text-transform: uppercase;
}

.main-projects__item:hover .main-projects__item__effect,
.main-projects__item:hover .main-projects__item__about {
  display: block;
  
  cursor: pointer;
}

.content-button-wrapper_black {
	padding: 30px 0;
	
	background: #2b2b2b;
}

@media screen and (max-width: 540px) {
	.main-projects__left-side,
	.main-projects__right-side {
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 450px) {
	.main-projects__items {
		float: none;
		width: 100%;
	}
}

/* contacts */

.main-contacts {
	padding: 45px 0;
}

.main-contacts__items {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.main-contacts__item__inner {
  display: inline-block;
	padding: 10px 0 10px 45px;
  
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-contacts__item_mail {
	background: url("../img/contacts.png") no-repeat;
	background-position: 0 7px;
}

.main-contacts__item_geo {
	background: url("../img/contacts.png") no-repeat;
	background-position: 7px -101px;
}

.main-contacts__item_phone {
	background: url("../img/contacts.png") no-repeat;
	background-position: 5px -203px;
}

.main-contacts__item_skype {
	background: url("../img/contacts.png") no-repeat;
	background-position: 5px -298px;
}

@media screen and (max-width: 1024px) {
	.main-contacts__items {
		flex-direction: column;
		align-items: left;
		
		width: 65%;
		margin: 0 auto;
	}
	
	.main-contacts__item_mail {
	background-position: 0 7px;
	}

	.main-contacts__item_geo {
	background-position: 0 -101px;
	}

	.main-contacts__item_phone {
	background-position: 0 -203px;
	}

	.main-contacts__item_skype {
	background-position: 0 -298px;
	}
}

@media screen and (max-width: 540px) {
	.main-contacts__item__inner {
		font-size: 14px;
		line-height: 21px;
	}
}

/* contact form */

.main-feedback {
	padding-bottom: 100px;
}

.main-feedback__feedback-form {
	display: flex;
  justify-content: space-between;
}

.main-feedback__feedback-form__user-info {
	width: 41%;
}

.main-feedback__feedback-form__input {
  width: 100%;
  height: 48px;
  margin-bottom: 28px;
  padding: 10px;
  
  border: 1px solid #000000;
  
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  
  outline: none;
}

.main-feedback__feedback-form__input:nth-last-child {
  margin-bottom: 0;
}

.main-feedback__feedback-form__input:focus::placeholder {
  color: transparent;
}

.main-feedback__feedback-form__user-message {
	width: 47%;
}

.main-feedback__feedback-form__textarea {
  display: block;
  width: 100%;
  height: 125px;
  margin-bottom: 35px;
  padding: 10px;
  
  border: 1px solid #000000;
  
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  
  outline: none;
}

.main-feedback__feedback-form__textarea:focus::placeholder {
  color: transparent;
}

.main-feedback__feedback-form__button {
  display: block;
  min-width: 270px;
  margin: 0 auto;
  padding: 12px 80px;
  
  background: #2b2b2b;
  
  border: none;
  
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  
  cursor: pointer;
  outline: none;
  
  transition: 0.5s;
}

.main-feedback__feedback-form__button:hover {
  background: #db001b;
}

@media screen and (max-width: 768px) {
	.main-feedback__feedback-form {
		display: flex;
		flex-direction: column;
		
		width: 50%;
		margin: 0 auto;
	}
	
	.main-feedback__feedback-form__user-info,
	.main-feedback__feedback-form__user-message	{
		width: 100%;
	}
}

@media screen and (max-width: 540px) {
	.main-feedback__feedback-form__button {
		min-width: 100%;
		padding: 12px 10px;
	}
}

@media screen and (max-width: 450px) {
	.main-feedback__feedback-form {
		width: 90%;
	}
}

/* popup feedback */

.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	
	display: none;
	width: 100%;
	height: 100%;
	
	background: #000000;
	
	opacity: 0.8;
	
	transition: 0.2s;
}

.popup-feedback {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1000;
	
	display: none;
	min-width: 500px;
	min-height: 400px;
	margin-top: -200px;
	margin-left: -250px;
	padding: 15px;
	
	background: #ffffff;
	border: 5px solid #cf4757;
}

.popup-feedback__feedback-form__input {
  width: 100%;
  height: 48px;
  margin-bottom: 28px;
  padding: 10px;
  
  border: 1px solid #000000;
  
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  
  outline: none;
}

.popup-feedback__feedback-form__input:nth-last-child {
  margin-bottom: 0;
}

.popup-feedback__feedback-form__input:focus::placeholder {
  color: transparent;
}

.popup-feedback__feedback-form__textarea {
  display: block;
  width: 100%;
	min-width: 470px;
  min-height: 125px;
  margin-bottom: 35px;
  padding: 10px;
  
  border: 1px solid #000000;
  
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  
  outline: none;
}

.popup-feedback__feedback-form__textarea:focus::placeholder {
  color: transparent;
}

.popup-feedback__feedback-form__button {
  display: block;
  width: 100%;
  padding: 12px;
  
  background: #2b2b2b;
  
  border: none;
  
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  
  cursor: pointer;
  outline: none;
  
  transition: 0.5s;
}

.popup-feedback__feedback-form__button:hover {
  background: #db001b;
}

.close-modal-block {
	position: absolute;
	top: -30px;
	right: -7px;
	
	width: 21px;
	height: 21px;
	
	background: none;
	border: 0;
	outline: 0;
	cursor: pointer;
	
	font-size: 0;
}

.close-modal-block::before,
.close-modal-block::after {
	content: "";
	position: absolute;
	top: 9px;
	right: 0; 
	
	width: 20px;
	height: 3px;
	
	background: #fecccd;
	
	transform: rotate(45deg);
}

.close-modal-block::before {
	transform: rotate(45deg);
}

.close-modal-block::after {
	transform: rotate(-45deg);
}

.close-modal-block:hover::before,
.close-modal-block:hover::after {
	background: #fb565a;
}

.close-modal-block:active::before,
.close-modal-block:active::after {
	background: #ffeeee;
}

/* footer */

.main-footer {
  background: #2b2b2b;
}

.main-footer__nav {
	display: flex;
	justify-content: space-between;
	
	padding: 20px 0;
}

.main-footer__menu__items {
  list-style-type: none;
}

.main-footer__menu__item {
  display: inline-block;
	vertical-align: top;
	margin-right: -4px;
}

.main-footer__menu__item__link {
	display: inline-block;
	padding: 10px;
  
  font-family: "PT Sans Caption", sans-serif;
  font-size: 12px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-footer__menu__item__link_active,
.main-footer__menu__item__link:active,
.main-footer__menu__item__link:hover {
	color: #db001b;
} 

.main-footer__social {
  display: inline-block;
  vertical-align: top;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  margin-top: 7px;
  
  font-size: 0px;
}

.main-footer__social_fb {
  background: url("../img/socials.png") no-repeat;
  background-position: 0 0;
}

.main-footer__social_in {
  background: url("../img/socials.png") no-repeat;
  background-position: -28px 0;
}

.site-creator {
	color: #db001b;
	
	text-decoration: underline;
}

@media screen and (max-width: 970px) {
	.main-footer__nav {
		flex-direction: column;
		
		text-align: center;
	}
	
	.main-footer__social:first-child {
		margin-left: 0;
	}
}

@media screen and (max-width: 786px) {
	.main-footer__menu {
		display: none;
	}
	
	.main-footer__social:first-child {
		margin-left: 0;
	}
}
	