.action__wrapper {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px 15px 50px 15px;

  text-align: center;
}

.action--bg-gray {
  background-color: #f5f5f5;
}

.action__text {
  margin-top: 30px;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-transform: uppercase;
}

.action__text--black {
  display: block;
  color: #343333;
}

.action__img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media screen and (min-width: 414px) {
  .action .button--brown {
    width: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 780px) {
  .last-action {
    width: 100%;
    padding: 20px 15px 50px 15px;

    text-align: center;
  }

  .last-action__photo {
    width: 80%;
    margin: 0 auto;
  }

  .last-action-img {
    width: 100%;
    height: auto;
  }
}
