.advice--bg-gray {
  background-color: #f5f5f5;
}

.advice--bg-black {
  background-color: #000000;
}

.advice__wrapper {
  width: 100%;
  max-width: 1360px;
  min-width: 320px;
  margin: 0 auto;
  padding: 30px 15px 50px;
}

.advice__business-wrapper {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.advice-main-title {
  font-family: "GothamPro", "Arial", sans-serif;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 6px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
}

.advice-main-title--display {
  display: none;
}

.advice-business-main-title {
  display: block;
}

.advice-business-main-title {
  padding-top: 30px;
  margin-bottom: 30px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6px;
  text-align: center;
  color: #af7535;
  text-transform: uppercase;
}

.advice__subtitle {
  width: 100%;
  max-width: 400px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #010101;
}

.advice__order-text {
  margin-bottom: 15px;
}

.advice__title-text {
  margin-bottom: 25px;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-transform: uppercase;
}

.advice__order-icon {
  display: block;
}

.advice__description-text {
  margin-bottom: 25px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.advice__description-text--white {
  color: #ffffff;
}

.advice__description-text--bold {
  font-family: "SFUIDisplay-Medium", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.advice__description-text--white {
  color: white;
}

.advice__quote {
  display: flex;
  justify-content: space-between;
}

.advice__quote--bg-white {
  background: #ffffff;
}

.advice__quote-photo {
  width: 23%;
}

.advice__business-photo {
  display: block;
  width: 100%;
}

.advice__business-img {
  width: 100%;
  height: auto;
}

.advice__quote-description {
  width: 77%;
}

.quote-img {
  margin-bottom: 5px;
}

.advice__quote-text {
  margin-bottom: 10px;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-transform: uppercase;
}

.advice__quote-text-autor {
  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: #af7535;
}

.advice-white-block {
  display: flex;
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
  padding: 25px 15px;
}

.advice__quote--descktop {
  display: none;
}

@media screen and (min-width: 786px) {
  .advice {
    background-color: #f5f5f5;
  }

  .advice-main-title {
    display: block;
  }

  .advice__wrapper--padding {
    padding-bottom: 0;
  }

  .advice-business-main-title {
    padding-top: 0;
    margin-bottom: 30px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;
    color: #af7535;
    text-transform: uppercase;
  }

  .advice__subtitle {
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0 15px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #010101;
  }

  .advice__wrapper {
    display: flex;
    padding: 0;

    background-color: #f5f5f5;
  }

  .advice__content {
    display: flex;
    width: 64%;
    margin: 0;
    padding: 60px 40px;
  }

  .advice__business-content {
    width: 50%;
  }

  .advice__business-content::before {
    content: "";
    position: absolute;
    right: -20px;
    top: -20px;
    z-index: 10;

    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;

    transform: rotate(45deg);
  }

  .advice__business-content::after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: -20px;
    z-index: 10;

    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;

    transform: rotate(45deg);
  }

  .advice__content--gray {
    background: url("../img/01bg.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .advice__content--parent {
    background: url("../img/003bg.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .advice__content--black {
    background: url("../img/04bg.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .advice__title-text {
    font-family: "SFUIDisplay-bold", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: #af7535;
    text-transform: uppercase;
  }

  .advice__quote {
    display: flex;
    flex-direction: column;
    width: 36%;
    padding: 40px;

    background: url("../img/02bg.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .advice__business-quote-bg1 {
    background: url("../img/business/study-program1.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .advice__business-quote-bg2 {
    background: url("../img/business/study-program2.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .advice__business-quote-bg3 {
    background: url("../img/business/study-program3.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .advice__business-quote-bg4 {
    background: url("../img/business/study-program4.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .advice__business-quote {
    width: 50%;
    padding: 0;
  }

  .advice__quote-photo {
    margin-bottom: 20px;
  }

  .advice__business-photo {
    display: none;
    margin: 0;
  }

  .advice__quote-text {
    font-family: "SFUIDisplay-bold", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    color: #af7535;
    text-transform: uppercase;
  }

  .advice__quote-text-autor {
    font-family: "GothaPro", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #af7535;
  }

  .advice-white-block {
    display: flex;
    flex-direction: column;
  }

  .advice__quote--no-bg {

  }

  .advice__quote-bg-d {
    background: url("../img/06bg.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }

  .advice--bg-black {
    background-color: #f5f5f5;
    margin-bottom: 0;
  }

   .advice__quote--mobile {
     display: none;
   }

   .advice__quote--descktop {
     display: block;
   }

   .advice__quote-img {
     width: 90px;
     height: 90px;
   }

   .advice__order-text {
     width: 140px;
     height: 75px;
     margin-right: 30px;
   }

   .advice__quote-padding {
     padding: 0;
   }

   .advice__business-photo {
     width: 100%;
   }

   .advice__business-img {
     width: 100%;
     height: auto;
     vertical-align: bottom;
   }

   .advice__business-content {
     position: relative;
   }

   .advice__content--brown {
     background-color: #af7535;
   }

   .advice__content--white {
     background-color: #ffffff;
   }

   .advice__title-text--black {
     color: #000000;
   }

   .advice__title-text--white {
     color: #ffffff;
   }

   .advice__description-text {
     margin-bottom: 0;
   }

   .advice--bg-white {
     background-color: #ffffff;
   }
}
