.cooperation-plan__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 50px 15px 50px 15px;
}

.cooperation-plan__title {
  margin-bottom: 30px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6px;
  text-align: center;
  color: #af7535;
  text-transform: uppercase;
}

.cooperation-plan__pic {
  width: 100%;
}

.cooperation-plan__img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 780px) {
  .cooperation-plan__title {
    margin-top: 50px;
    margin-bottom: 30px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;
    color: #af7535;
    text-transform: uppercase;
  }

  .cooperation-plan__pic {
    width: 80%;
    margin: 0 auto;
  }
}
