
.footer {
  background-color: #000000;
}

.footer__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 35px 15px 35px 15px;
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__logo-b-img {
  display: none;
}

.footer__social-head {
  margin-bottom: 10px;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-transform: uppercase;
}

.footer__social-links {
  margin-bottom: 40px;
}

.footer__social-link {
  margin-right: 10px;
}

.footer__address-list {
  list-style-type: none;

  margin-bottom: 30px;
}

.footer__address-item {
  padding-left: 35px;
}

.footer__address-item--phone {
  background: url("../img/phone-ico.png") no-repeat;
  background-position: left top;

  font-family: "SFUIDisplay-Medium", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.075em;
  color: #ffffff;
}

.footer__address-item--city {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
}

.footer__submenu-list--margin {
  margin-bottom: 35px;
}

.footer__submenu-link {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0.01em;
  color: #af7535;
  text-decoration: none;
}

.footer__submenu-link:hover {
  color: #ffffff !important;
}

.to-top {
  margin-bottom: 35px;
  padding: 0 15px;
}

.footer__copyright {
  margin-bottom: 40px;
  padding: 0 15px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: #989898;
}

@media screen and (min-width: 768px) {
  .footer__wrapper {
    display: flex;
    flex-direction: column;
  }

  .footer__logo-b-img {
    display: block;
  }

  .footer__logo-img {
    display: none;
  }

  .footer__contact {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
  }

  .footer__social {
    order: -1;
  }

  .footer__submenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer__submenu-link {
    font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
    font-size: 17px;
    line-height: 21px;
    font-weight: 600;
    color: #af7535;
  }

  .footer__copyright {
    order: -1;
    margin-top: 35px;
    padding: 0;
  }

  .footer__social-links {
    list-style-type: none;
    margin: 0;
  }

  .footer__address-list {
    list-style-type: none;
    margin: 0;
  }

  .to-top {
    position: fixed;
    bottom: 60px;
    right: 15px;
    z-index: 1010;
  }
}
