.main-gallery {
  background-color: #f5f5f5;
}

.main-gallery__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 50px 15px;
}

.main-galley__name {
  margin-bottom: 30px;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-align: center;
  text-transform: uppercase;
}

.main-galley__name--blue {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 9px;
  text-align: center;
  color: #19bfe8;
  text-transform: uppercase;
}

.main-gallery-slider {
  width: 100%;
  height: auto;
}

.main-gallery-slider__conent {
  padding: 0 3px;
}

.descktop-slider {
  display: none;
}

@media screen and (min-width: 1050px) {
  .main-galley__name--blue {
    padding-top: 50px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;
    color: #19bfe8;
    text-transform: uppercase;
  }

  .main-gallery__wrapper {
    padding-bottom: 70px;
  }

  .mobile-slider {
    display: none;
  }

  .descktop-slider {
    display: block;
  }

  .slider-for {
    width: 920px;
    margin: 0 auto;
  }

  .slider-for div {
    outline: 0;
  }

  .slider-nav {
    width: 920px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .slick-list {
    padding: 0 !important;
  }

  .descktop-slider-item {
    width: 203px !important;
    height: 174px;
    margin: 0 13.5px;

    outline: 0;
  }

  .descktop-slider-img {
    width: 203px;
    height: 174px;
  }
}
