.guarantee {
  background: #4e3824 url("../img/guarantee-bg.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.guarantee__wrapper {
  width: 100%;
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
  padding: 50px 15px 50px 15px;

  text-align: center;
}

.guarantee__title {
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 20px;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
}

.guarantee__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;

  display: block;
  width: 18px;
  height: 3px;
  background-color: #ffffff;
}

.guarantee__description {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (min-width: 780px) {
  .guarantee__wrapper {
    max-width: 800px;
    padding: 100px 15px 60px 15px;
  }
  .guarantee__title {
    margin-bottom: 30px;
    padding-bottom: 40px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }

  .teeny-guarantee-title {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  .guarantee__description {
    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3px;
    color: #ffffff;
    text-align: center;
  }
}
