.main-header {
  background-color: #f5f5f5;
}

.adult-main-header,
.teeny-main-header {
  background-color: #ffffff;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 25px 15px 20px 15px;
}

.main-header-adult__wrapper {
  padding-bottom: 15px;
}

.main-header-teeny__wrapper {
  padding-bottom: 15px;
}

.main-header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 50%;
  min-height: 70px;
}

.main-header__logo {
  margin-bottom: 21px;
}

.main-header__desk-logo-img {
  display: none;
}

.burger-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 999;
  cursor: pointer;
}

.main-header__contact {
  width: 50%;
  min-height: 45px;
}

.main-header__title {
  position: relative;

  width: 100%;

  text-align: left;
}

.main-header__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -12px;

  display: block;
  width: 1px;
  height: 24px;
  background-color: #000000;
}

.main-header__title-text {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.075em;
  color: #000000;
}

.main-header__address {
  width: 100%;
  margin-top: 55px;

  text-align: right;
}

.main-header__address-list {
  list-style-type: none;
}

.main-header__address-item--phone {
  font-family: "SFUIDisplay-Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.075em;
  color: #000000;
}

.main-header__address-item--city {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.075em;
  color: #000000;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  width: 100%;
  height: 100%;

  background-color: #000000;
}

.main-nav__wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-nav__list {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 10px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1001;

  cursor: pointer;
}

.main-nav__item {
  padding: 7px;
}

.main-nav__item-link {
  display: block;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #af7535;
  text-align: center;
  text-decoration: none;
}


@media screen and (min-width: 460px) {
  .main-header__title::after {
    display: none;
  }
}

@media screen and (min-width: 920px) {
  .burger-icon {
    display: none;
  }

  .main-header__nav {
    flex-direction: row;
    min-height: auto;
  }

  .main-header__logo {
    margin-bottom: 0;
    margin-top: 6px;
  }

  .main-header__logo-img {
    display: none;
  }

  .main-header__desk-logo-img {
    display: block;
  }

  .main-header__title {
    margin-left: 10px;
    padding-left: 10px;
  }

  .main-header__title-text {
    margin-left: 10px;

    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 29px;
    font-weight: 600;
    letter-spacing: 0;
    color: #333333;
  }

  .main-header__title::after {
    width: 1px;
    height: 60px;
    margin-top: -30px;
  }

  .main-header__address {
    margin: 0;
  }

  .main-header__title::after {
    display: block;
    left: 0;
  }

  .main-header__nav {
    width: auto;
  }

  .main-header__contact {
    width: auto;
    min-height: auto;
  }

 .main-header__address-item--phone {
    margin-bottom: 10px;
    padding-left: 35px;

    background: url("../img/phone-ico.png") no-repeat;
    background-position: left 1px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    color: #333333;
  }

  .main-header__address-item--city {
    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0;
    color: #333333;
  }

  .main-nav {
    position: relative;
    z-index: 0;

    display: block;

    background: transparent;
  }

  .modal-close {
    display: none;
  }

  .main-nav__list {
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
  }
}
