.main-mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: none;
  width: 100%;
  height: 100%;

  background-color: #000000;
}

.main-mobile-nav__wrapper {
  width: 100%;
  max-width: 414px;
  min-width: 320px;
  margin: 0 auto;
}

.main-mobile-nav__list {
  position: relative;

  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 10px;
}

.modal-mobile-close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1001;

  cursor: pointer;
}

.main-mobile-nav__item {
  padding: 7px;
}

.main-mobile-nav__item-link {
  display: block;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #af7535;
  text-align: center;
  text-decoration: none;
}

.main-nav__item-link:hover,
.main-nav__item-link--active {
  color: #000000 !important;
}

.main-mobile-nav__item-link:hover,
.main-mobile-nav__item-link--active {
  color: #ffffff;
}

.main-nav {
  background-color: #f5f5f5;
}

.adult-main-nav,
.teeny-main-nav,
.business-main-nav {
  background-color: #ffffff;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.main-nav__item-link {
  display: block;
  margin: 0 16px;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 4px;
  color: #af7535;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav__bread-crumbs {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 15px;
}

.main-nav__bread-crumbs-list {
  list-style-type: none;
}

.main-nav__bread-crumb {
  display: inline-block;
}

.main-nav__bread-crumb-link {
  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  color: #af7535;
  text-decoration: none;
}

.main-nav__item-link--blue,
.main-mobile-nav__item-link--blue,
.main-nav__bread-crumb-link--blue {
  color: #19bfe8;
}

.main-nav__bread-crumb-link--active {
  font-family: "GothamProReg", "Arial", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  color: #333333;
  text-decoration: none;
}

.button--blue {
  background-color: #19bfe8;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
