.methodology-teeny {
  background-color: #F5F5F5;
}

.methodology-teeny__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 50px 15px 1px 15px;
}

.methodology-teeny__title {
  margin-bottom: 20px;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-align: center;
  text-transform: uppercase;
}

.methodology-teeny__subtitle {
  margin-bottom: 40px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #010101;
}

.methodology-teeny__component {
  margin-bottom: 40px;
}

.component-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;

  background-color: #af7535;

  font-family: "GothamPro", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
}

.methodology-teeny__component-description {
  padding: 20px;

  background-color: #ffffff;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .methodology-teeny__wrapper {
    padding: 70px 15px 50px 15px;
  }

  .methodology-teeny__title {
    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
  }

  .methodology-teeny__components {
    display: flex;
    justify-content: space-between;
  }

  .methodology-teeny__component {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .methodology-teeny__component:last-child {
    margin-right: 0;
  }

  .methodology-teeny__component-description {
    min-height: 180px;
  }
}
