.motivation {
  background-color: #f5f5f5;
}

.motivation__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 15px 15px 15px;
}

.motivation__title {
  margin-bottom: 50px;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-align: center;
  text-transform: uppercase;
}

.motivation__item {
  display: flex;
  margin-bottom: 30px;
}

.motivation__item-text {
  margin-left: 10px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .motivation__wrapper {
    padding-bottom: 50px;
  }

  .motivation__list {
    display: flex;
    flex-direction: column;
  }

  .motivation__item-icon {
    width: 124px;
    height: 114px;
  }

  .motivation__item {
    width: 100%;
    margin-bottom: 25px;
  }

  .motivation__item-text {
    margin-top: 50px;
    padding: 20px;

    background-color: #ffffff;
    border-right: 3px solid #af7535;

    font-family: "GothamProReg", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .motivation__item-text--width-40 {
    width: 40%;
  }

  .motivation__item-text--width-60 {
    width: 60%;
  }

  .motivation__item-text--width-80 {
    width: 80%;
  }

  .motivation__item-text--width-100 {
    width: 100%;
  }
}
