.promo {
  background-color: #f5f5f5;
}

.promo-adult,
.promo-teeny {
  background-color: #ffffff;
}

.promo-adult__wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;

  background: #97a1ae url("../img/adult/adultbg.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

.promo-teeny__wrapper {
  background: #97a1ae url("../img/teeny/teenybg.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

.promo-kids__wrapper {
  background: #97a1ae url("../img/kids/bg-photo-kids.png") no-repeat;
  background-position: center top;
  background-size: cover;
}

.promo-business__wrapper {
  background: #97a1ae url("../img/business/adult-en.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

.promo__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 20px 15px 20px 15px;
}

.promo-adult__title,
.promo-teeny__title,
.promo-business__title {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  margin-bottom: 10px;

  background-color: #ffffff;

  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #333333;
  text-align: center;
}

.promo-adult__text,
.promo-teeny__text,
.promo-business__text {
  display: none;
  width: 60%;
  margin: auto;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 25px 32px 25px;

  background-color: #ffffff;
  border: 1px solid #af7535;
}

.form-name {
  position: relative;

  margin-bottom: 20px;
  padding-bottom: 20px;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #000000 !important;
  text-align: center;
  text-transform: uppercase;
}

.form-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -9px;

  display: block;
  width: 18px;
  height: 3px;
  background-color: #af7535;
}

.form-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;

  border: 1px solid #a1a1a1;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #7d7d7d;

  outline: none;
}

.form-field:focus::placeholder {
  color: transparent;
}

.form-select {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;

  border: 1px solid #000000;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 13px;
  line-height: 22px;
  color: #7d7d7d;

  outline: none;
}

.checkbox-label {
  margin-bottom: 20px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #7d7d7d;
}

.confirm-terms-link {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.confirm-terms-link:hover {
  color: #af7535;
}

.form-confirm {
  text-align: center;
}

.button--brown {
  width: 100%;

  background-color: #af7535;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
}

.terms-popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1020;

  display: none;
  width: 100%;
  height: 100%;
  padding: 40px;

  background-color: #dcdcdc;

  overflow: auto;
}

.terms-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1021;

  cursor: pointer;
}

.privacy-policy-title {
  margin-bottom: 20px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
  text-transform: uppercase;
}

.privacy-policy-paragraph {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #292929;
}

@media screen and (min-width: 768px) {
  .promo-adult__text {
    display: flex;
  }

  .promo-adult__form {
    width: 40%;
  }

  .promo-teeny__text {
    display: flex;
  }

  .promo-business__text {
    display: flex;
    flex-wrap: wrap;
    max-width: 530px;

    font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 7px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .promo-business__text--big {
    font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
    font-size: 37px;
    line-height: 37px;
    font-weight: 700;
    letter-spacing: 7px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .promo-business__text--remark {
    display: block;
    margin-top: 100px;

    font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
  }

  .promo-teeny__form {
    width: 40%;
  }
}

@media screen and (min-width: 920px) {
  .promo__wrapper {
    display: flex;
    padding-top: 20px;
  }

  .promo-slider {
    width: 67%;
    margin-right: 30px;
  }

  .promo__form {
    width: 32%;
  }
}
