.purpose__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.purpose__wrapper-business {
  padding: 50px 15px 50px 15px;
}

.purpose__title {
  margin-bottom: 30px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 6px;
  text-align: center;
  color: #af7535;
  text-transform: uppercase;
}

.purpose__title--adult {
  padding-top: 50px;
}

.purpose__title--kids {
  margin-bottom: 50px;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 6px;
  color: #19bfe8;
  text-align: center;
  text-transform: uppercase;
}

.purpose__description {
  margin-bottom: 20px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.purpose-kids-item-description {
  text-align: center;
}

.purpose__quote {
  position: relative;

  padding-left: 20px;

  font-family: "SFUIDisplay-SemiBold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: #000000;
  text-transform: uppercase;
}

.purpose__quote::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -50px;

  display: block;
  width: 3px;
  height: 100px;
  background-color: #af7535;
}

.purpose__quote-autor {
  font-family: "BodoniC-BoldItalic", "Arial", sans-serif;
  font-size: 15px;
  line-height: 22px;
  color: #7d7d7d;
  text-align: right;
}

.purpose__sapience {
  margin-bottom: 40px;
}

.purpose__list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.purpose__item {
  width: 145px;
  margin-bottom: 40px;

  font-family: "SFUIDisplay-SemiBold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3em;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.purpose__item:last-child {
  margin-bottom: 0;
}

.kids-purpose-item:last-child {
  margin-bottom: 50px;
}

.purpose__item-img {
  margin-bottom: 10px;
}

.kids-purpose-list {
  flex-direction: column;
}

.kids-purpose-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  text-align: left;
}

.purpose-kids-item-description {
  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.purpose__item-description--padding {
  padding-left: 10px;
}

@media screen and (min-width: 780px) {
  .purpose__wrapper-business {
    padding: 80px 15px 50px 15px;
  }

  .purpose__title {
    margin-bottom: 50px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;
    color: #af7535;
    text-transform: uppercase;
  }

  .purpose__title--kids {
    margin: 80px 0;
    font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 9px;
    color: #19bfe8;
    text-align: center;
    text-transform: uppercase;
  }

  .purpose__items {
    display: flex;
  }

  .kids-purpose-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .kids-purpose-item {
    flex-direction: row;
    width: 48%;
    margin-right: 20px;
    margin-bottom: 100px;

    text-align: left;
  }

  .purpose__item-img--margin {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .purpose__text {
    margin-right: 50px;
    width: 69%;
  }

  .purpose__sapience {
    width: 30%
  }

  .purpose__quote {
    font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 5px;
    color: #af7535;
    text-transform: uppercase;
  }

  .purpose__quote::before {
    display: none;
  }

  .purpose__quote::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px;

    display: block;
    width: 3px;
    height: 100px;
    background-color: #af7535;
  }

  .purpose__quote::before {
    height: 50px;
    margin-top: -25px;
  }

  .purpose__item-description {
    font-family: "SFUIDisplay-Semibold",sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #333333;
    text-transform: uppercase;
  }

  .purpose-kids-item-description {
    font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #000000;
    text-align: left;
    text-transform: uppercase;
  }

  .purpose__item-img {
    width: 108px;
    height: 90px;
  }
}
