.rules__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 15px 15px;
}

.rules__title {
  margin-bottom: 30px;

  font-family: "SFUIDisplay-Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3em;
  color: #af7535;
  text-align: center;
  text-transform: uppercase;
}

.rules__item {
  margin-bottom: 30px;
}

.rules__item-head {
  margin-bottom: 20px;
}

.rules__item-description {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .rules__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rules__item {
    width: 50%;
    padding: 20px;
  }
}
