.rules__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px 15px 15px;
}

.rules__title {
  margin-bottom: 30px;

  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 6px;
  text-align: center;
  color: #af7535;
  text-transform: uppercase;
}

.rules__item {
  margin-bottom: 30px;
}

.rules__item-head {
  margin-bottom: 20px;
}

.rules__item-description {
  font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .rules__title {
    margin-top: 30px;
    margin-bottom: 30px;

    font-family: "SFUIDisplay-Regular", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 9px;
    text-align: center;
    color: #af7535;
    text-transform: uppercase;
  }

  .rules__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rules__item {
    width: 50%;
    padding: 20px;
  }
}
