
.seo {
  background-color: #f5f5f5;
}

.seo__wrapper {
  width: 100%;
  max-width: 1150px;
  min-width: 320px;
  margin: 0 auto;
  padding: 50px 20px;
}

.seo__title {
  margin-bottom: 30px;

  font-family: "SFUIDisplay-bold", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.3em;
  color: #af7535;
  text-align: center;
  text-transform: uppercase;
}

.seo__content {
  margin-bottom: 30px;

  font-family: "GothaProReg", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: 333333;
}

.seo__content-more {
  text-align: center;
}

.seo-button {
  width: auto;
  padding: 10px 30px;

  font-family: "SFUIDisplay-Semibold", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.3em;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.seo-button:hover {
  background-color: #000000;

  color: #ffffff;
}

@media screen and (max-width: 420px) {
  .seo-button {
    width: 100%;
  }
}
