@font-face {
    font-family: "Alien-Encounters-Bold_0.ttf";
    src: url("../fonts/Alien-Encounters-Bold_0.ttf");
    src: local("Alien-Encounters-Bold_0"), url("../fonts/Alien-Encounters-Bold_0.ttf");
}

@font-face {
    font-family: "Alien-Encounters-Regular_0.ttf";
    src: url("../fonts/Alien-Encounters-Regular_0.ttf");
    src: local("Alien-Encounters-Regular_0"), url("../fonts/Alien-Encounters-Regular_0.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
	
	border: 0px solid black;
}

.clearfix::after {
  content: "";
	display: table;
	clear: both;
}

.container {
	width: 100%;
	max-width: 980px;

	margin: 0 auto;
	padding: 0 15px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
	margin: 0;
	padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    
  height: 100vh;
  min-height: 100vh;
	padding: 20px 0;
  
  background: url("../img/headerbg.jpg") no-repeat;
  background-size: cover;
	background-position: right;
}

.menu {
	position: fixed;
  top: 0;
	right: -250px;
	z-index: 2;
  
  display: block;
  list-style-type: none;
	width: 250px;
	height: 100%;
  margin: 0;
	padding: 18px 10px 0 10px;
  
	background: url("../img/bg.jpg") no-repeat;
  border-left: 1px solid #018dd2;
  
	text-align: right;
  
  opacity: 0.98;
  
	transition: 0.4s;
}

.menu li {
  padding-top: 30px;
}

.menu li a {
	font-family: "Alien-Encounters-Regular_0.ttf", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 600;
  color: #018dd2;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li a:hover {
	text-decoration: underline;
}

.hidden-menu {
	display: none;
}

.burger {
	position: fixed;
	top: 35px;
	right: 45px;
  z-index: 3;
  
  width: 40px;
  padding: 5px;
	
	background: #018dd2;
  border: 1px solid #ffffff;
  border-radius: 3px;
  
	color: #ffffff;
  
  cursor: pointer;
  
	transition: 0.4s;
}

.burger span {
	position: relative;
  
  display: block;
	height: 5px;
  margin: 5px 0 0;
  
	background: #ffffff;
  
	transition: 0.4s;
}

.burger span.top-bun {
	margin-top: 0;
}

.hidden-menu:checked ~ .burger {
	right: 160px;
}

.hidden-menu:checked ~ .menu {
	right: 0;
}

.hidden-menu:checked ~ .burger span.top-bun {
  top: 10px;
  
	transform: rotate(45deg);
}

.hidden-menu:checked ~ .burger span.cutlet {
	opacity: 0;
}

.hidden-menu:checked ~ .burger span.bottom-bun {
  top: -10px;
  
	transform: rotate(-45deg);
}

.to-header {
	position: fixed;
	top: 35px;
	right: 90px;
  z-index: 3;
	
	width: 40px;
	height: 37px;
	
	background: #018dd2 url("../img/arrowtop.png") no-repeat;
	background-size: 100% 100%;
	background-position: center;
  border: 1px solid #ffffff;
  border-radius: 3px;
  
  cursor: pointer;
  
	transition: 0.4s;
}

.hidden-menu:checked ~ .to-header {
	right: 205px;
}

.main-atributes {
	float: left;
	
	width: 290px;
	min-height: 248px;
	margin: 0 auto;
  
  background: #ffffff url("../img/vintiki.png") no-repeat;
	background-size: 100% 100%;
	background-position: center;
  
	border: 3px solid #323233;
  border-radius: 15px;
	-webkit-box-shadow: 0 0 0 3px #018dd2;
	        box-shadow: 0 0 0 3px #018dd2; 
	
	text-align: center;
  
  opacity: 0.95;
}

.main-logo {
  width: 210px;
  height: 140px;
  margin-bottom: 0px;
  margin-top: 20px;
}

.company-name {
	font-family: "Arial", sans-serif;
	font-size: 24px;
	font-weight: 600;
  color: #018dd2;
}

.company-specific {
	font-size: 14px;
	font-weight: 400;
  color: #919394;
}

.main-description {
	float: right;
	
	width: 65%;
	
	color: #ffffff;
}

.main-idea {
	margin-bottom: 30px;
	padding: 0 15px 0 40px;
	
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
}

.main-idea-content {
	padding: 0 15px 0 40px;
	
	line-height: 24px;
	font-weight: 600;
	
	color: #ffffff;
}

.about-company {
	padding-top: 80px;
	padding-bottom: 50px;
}

.section-title {
	margin-bottom: 50px;
	
	font-family: "Alien-Encounters-Regular_0.ttf", "Arial", sans-serif;
	font-size: 24px;
	font-weight: 600;
  color: #018dd2;
  text-align: center;
	text-transform: uppercase;
}

p {
	margin-bottom: 30px;
	
	line-height: 24px;
	font-weight: 500;
	color: #5a5a5a;
}

.level-title {
	display: block;
	
	margin-top: 90px;
	margin-bottom: 30px;
	
	font-size: 18px;
	font-weight: 600;
  color: #015ba1;
}

.advantages {
  list-style-position: inside;
}

.advantages li {
	margin-bottom: 15px;
	
	color: #5a5a5a;
}

.facilities {
	padding-top: 80px;
	padding-bottom: 80px;
  
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}

.main-facilities {
	list-style-type: none;
	text-align: center;
}

.main-facilities li {
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 3 - 10px);
	min-height: 120px;
	margin-right: 10px;
	
	line-height: 24px;
	font-weight: 500;
	color: #5a5a5a;
}

.main-facilities li:last-child {
	margin-right: 0;
}

.main-facilities img {
	margin-bottom: 15px;
}

.facilitie {
	display: block;
}

.manufacture {
	padding-top: 0px;
	padding-bottom: 80px;
}

.our-production {
	list-style-position: inside;
}

.our-production li {
	margin-bottom: 15px;
	
	color: #5a5a5a;
}

.pictures {
	list-style-type: none;
	text-align: center;
}

.pictures li {
	position: relative;
	display: inline-block;
	width: calc(100% / 3);
	margin-right: -6px;
}

.pictures li:last-child {
	margin-right: 0;
}

.pictures img {
	width: 100%;
	max-width: 100%;
	height: auto;
	
	vertical-align: bottom;
}

.picture-description {
	display: block;
	position: absolute;
	bottom: 0;
	
	width: 100%;
	padding: 10px 15px;
	
	background: #c7c7c7;
	
	color: #ffffff;
	text-align: center;
	
	opacity: 0.9;
}

.products {
  padding-top: 80px;
  padding-bottom: 40px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  
  margin: 0 -20px;
}

.item {
  width: calc(100% / 2 - 40px);
  margin: 0 20px 40px 20px;
  
  border: 1px solid #e2e2e2;
  border-radius: 3px;
}

.item-image {
  text-align: center;
}

.item-name {
  display: inline-block;
  padding: 5px 10px;
  
  background: #058ad2;
  
  color: #f1f1f1;
}

.item-description {
  margin: 0;
  padding: 10px;
  
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}

.certification {
	padding-top: 80px;
	padding-bottom: 75px;
}

.our-certificates {
	list-style-type: none;
}

.our-certificates li {
	margin-bottom: 15px;
}

.our-certificates a {
	color: #018dd2;
}

.partners {
	padding: 80px 0;
	
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

.partner-logos {
	text-align: center;
}

.partner-logos li {
	display: inline-block;
	width: calc(100% / 4 - 20px);
	margin-right: 20px;
	
	text-align: center;
}

.partner-logos li:last-child {
	margin-right: 0px;
}

.contacts {
	padding-top: 80px;
	padding-bottom: 1px;
  
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}

.contact-list {
	width: 100%;
	
  list-style-type: none;
	
	text-align: center;
}

.contact-list {
	margin-bottom: 40px;
	
	text-align: center;
}

.worker-post {
	margin-bottom: 10px;
  padding: 15px;
	
	font-size: 14px;
	font-weight: 600;
	color: #015ba1;
}

.footer {
	background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
}

.footer-inner {
  padding: 18px 0 15px;
}

.advertising {
  float: left;
  
  width: 50%;
}

.coder {
  float: right;
  
  width: 50%;
  
  text-align: right;
}

@media screen and (max-width: 1265px) {
	.main-atributes,
	.main-description {
		float: none;
	}
	
	.main-atributes {
		margin-bottom: 50px;
	}
	
	.main-description {
		width: 70%;
		margin: 0 auto;
	}
	
	.main-idea,
	.main-idea-content {
		padding: 0;
	}
	
	.pictures li {
		width: calc(100% / 1);
		margin-right: 0;
	}
	
	.partner-logos li {
		width: calc(100% / 2 - 20px);
		margin-right: 12px;
		margin-bottom: 30px;
	}
	
	.partner-logos li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 980px) {
	.items {
    display: block;
  }
  
  .item {
    width: auto;
  }
  
  .contact-list li {
    width: calc(100% / 2 - 10px);
    text-align: center;
  }
  
  .contact-list li:nth-child(3n) {
    margin-right: 10px;
  }
	
	.contact-list li:nth-child(2n) {
    margin-right: 0;
  }
  
  .worker li {
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
	.main-idea {
		padding: 0 15px;
		
		text-align: center;
	}
	
	.main-idea-content {
		display: none;
	}
	
	.about-company {
		padding-top: 50px;
		padding-bottom: 0px;
	}
	
	.section-title {
		text-align: center;
		text-decoration: underline;
	}
	
	.level-title {
		margin-top: 50px;
		margin-bottom: 30px;
	}
	
	.contacts {
		padding-top: 50px;
	}
	
	.contact-list li {
    width: calc(100% / 1);
		
    text-align: center;
  }
	
	.contact-list li:nth-child(3n) {
    margin-right: 0;
  }
	
	.contact-list li:nth-child(2n) {
    margin-right: 0;
  }
	
	.main-facilities li {
		display: inline-block;
		width: calc(100% / 1);
		margin: 0 0 20px 0;
	}
	
	.facilities {
		padding-top: 60px;
		padding-bottom: 0px;
	}
	
	.facilitie {
		margin-bottom: 50px;
	}
	
	.manufacture {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.certification {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.partners {
		padding: 50px 0 30px;
		
		border-top: 2px solid gray;
		border-bottom: 2px solid gray;
		}
	
	.partner-logos li img {
		width: 100%;
		Max-width: 100px;
		height: auto;
	}
  
  .advertising,
  .coder  {
    float: none;
  
    width: 100%;
    
    text-align: center;
   }
   
   .coder {
     padding-top: 20px;
   }
}

@media screen and (orientation:landscape) {
	header {	
		height: auto;
		padding-top: 50px;
	}
}
